## Intellij ##
/.idea/

## SBT ##
project/boot/
project/plugins/project
project/project
target/

## Frontend app build directory ##
/src/main/resources/app/*

## Server ##
server
pushtopi.sh

# Certificates
*.crt
*.key
*.ca
*.csr
*.p12
*.keystore
