@import "styles/globals";
@import "styles/applaudio-component";

@import "styles/button";
@import "styles/text-input";

@import "styles/404";

@import "ui/infinite-label/infintite-label";
@import "ui/scrollable/scrollable";
@import "ui/progress-bar/progress-bar";
@import "ui/modal/modal";

@import "components/message-bar/message-bar";
@import "components/directory-listing/upload-modal/upload-modal";
@import "components/directory-listing/add-directory-modal/add-directory-modal";


body {

  padding: $pad;
  background-color: $background;
  user-select: none;
  cursor: default;
  font: $verdana;
  color: $foreground;
  overflow: hidden;

  #left-panel {
    width: $leftPanelWidth;
    padding-top: $pad;
    display: block;
    float: left;

    @import "components/player/player";
    @import "components/track-queue/track-queue";
  }

  #right-panel {
    display: block;
    float: left;
  }


  #browser {

    #heading {
      height: $playerHeight;
      margin-left: 2*$pad;
      vertical-align: middle;
      line-height: $playerHeight;
    }

        #listing-menu {
            height: inherit;
            display: table-cell;
            padding-left: $pad;
            padding-right: $pad;
            position: relative;

            .scrollable {
                padding-bottom: $pad;

                @import "components/directory-listing/listing-item/listing-item";

                .animate-list-item.ng-enter {
                    animation: 500ms addToList;
                }

                .animate-list-item.ng-leave {
                    animation: 500ms removeFromList;
                }

                .empty-listing-placeholder {
                    padding: $pad;
                }
                .empty-listing-placeholder.ng-enter {
                    opacity:0;
                    animation: 1000ms delayVisibility;
                }
                .empty-listing-placeholder.ng-enter-active {
                    opacity:1;
                }
            }

        }
    }
}

.angular-ui-tree-drag {
  position: absolute;
  font-size: 14px;
  z-index: 999;
  opacity: .8;
  list-style-type: none;
  pointer-events: none;
}
