@import "styles/globals";
@import "styles/applaudio-component";

@import "styles/button";
@import "styles/text-input";

@import "ui/infinite-label/infintite-label";
@import "ui/scrollable/scrollable";
@import "ui/progress-bar/progress-bar";

body {

  padding: 8*$pad;
  background-color: $background;
  user-select: none;
  cursor: default;
  font: $verdana;
  color: $foreground;
  overflow: hidden;

  @import "components/message-bar/message-bar";

  #left-panel {
    width: $leftPanelWidth;
    display: block;
    float: left;

    @import "components/player/player";
    @import "components/track-queue/track-queue";
  }

  #right-panel {
    width: calc(100% - #{$leftPanelWidth});
    float: left;

    @import "views/upload";

  }


  #browser {

    padding-left: $pad;

    header {
      height: $playerHeight - 2*$pad;
      margin-left: 2*$pad;
      margin-bottom: 2*$pad;
      vertical-align: middle;
      line-height: $playerHeight - 2*$pad;
    }

    #filter {
      width: 100%;
      margin-right: -2*$pad;
      margin-bottom: $pad;
      position: relative;

      input {
        width: 100%;
      }
    }

    #listing {
      width: 100%;
      max-height: $bottomPanelHeight;
      padding-bottom: $pad;

      .scrollable {

        @import "components/listing-items/listing-items";

        .animate-list-item.ng-enter {
          animation: 500ms addToList;
        }

        .animate-list-item.ng-leave {
          animation: 500ms removeFromList;
        }

        .empty-listing-placeholder {
          padding: $pad;
        }
        .empty-listing-placeholder.ng-enter {
          opacity:0;
          animation: 1000ms delayVisibility;
        }
        .empty-listing-placeholder.ng-enter-active {
          opacity:1;
        }
      }

    }
  }
}

.angular-ui-tree-drag {
  position: absolute;
  font-size: 14px;
  z-index: 999;
  opacity: .8;
  list-style-type: none;
  pointer-events: none;
}
