.listing-item {
  height: $listItemHeight; // declare height so it will match animation height.
  position:relative;
  padding: $pad;
  margin-bottom: -$borderSize;
  border: $borderSize solid;
  box-sizing: border-box;
  background-color: $background;
  cursor: pointer;
  transition: background-color 200ms linear;

  &:hover {
    transition: background-color 0ms linear;
    background-color: #333333;
  }

  &:active {
    background-color: #999999;
  }

  a {
    color: #FFFFFF;
  }


  .label {
    position: absolute;
    left: $listItemHeight;
    top: 50%;
    transform: translate(0, -50%);
  }
}
