input {
  margin: 0px;
  padding: $pad;
  border: $borderSize solid;
  box-sizing: border-box;
  background: $background;
  color: $foreground;
  font: $verdana;

  &.disabled, &:disabled {
    cursor: default;
    color: #AAAAAA;
    background-color: #000000;
  }

}
