#applaudio-player {

  height: $playerHeight;

  .applaudio-player-container {
    @include applaudio-component;
    height: $playerHeight - 4*$pad;
    padding: $pad;
    padding-top: 2*$pad;
    margin-bottom: 5*$pad;
    position: relative;

    .track-display { }

    .buttons {
      position: absolute;
      bottom: -2*$pad;

      .button {
        width: (($playerWidth - 3*$pad) / 2) - $borderSize;
      }
    }
  }
}
