<div id="browser" ng-controller="DirectoryListingCtrl as dl">

  <header id="heading"><h1>{{dl.header}}</h1></header>

  <div applaudio-scrollable id="listing-menu">

    <div class="animate-list-item" ng-repeat="item in dl.listing | filter:query | orderBy:listingOrder">
      <applaudio-listing-item item="item"></applaudio-listing-item>
    </div>
    <div id="placeholder-holder"><!-- placeholder holder seems to prevent items skipping when placeholder becomes visible. -->
      <div class="empty-listing-placeholder" ng-if="!(dl.listing | filter:query).length" >Nothing here...</div>
    </div>
  </div>

    <!--<div id="right-panel">-->

        <!--<div id="filter">-->
            <!--<input placeholder="Filter" ng-model="query">-->
        <!--</div>-->

        <!--<applaudio-ui-modal button-text="'Add Directory'">-->
            <!--<add-directory-modal></add-directory-modal>-->
        <!--</applaudio-ui-modal>-->

        <!--<applaudio-ui-modal ng-class="{disabled: directoryIsEmpty()}" button-text="'Upload Music'">-->
            <!--<upload-modal></upload-modal>-->
        <!--</applaudio-ui-modal>-->

        <!--<a class=button href="{{downloadAllUrl}}" ng-class="{disabled: directoryIsEmpty()}" ng-click="verifyDownloadAction($event)">Download All</a>-->


    <!--</div>-->

</div>
