canvas {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
#home-link {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    visibility: hidden; // only show when game has loaded.
}
#home-link:hover {
    text-decoration: underline;
}